  <div class="row" style="margin:auto">
  <% @userevents.each do |e| %>

<h5><%= link_to "#{e.title}", event_path(e.id), class:"badge badge-primary" %>&nbsp;</h5>

  <% end %>
</div>



<%if false%>
    <div class="card" style="width: 18rem;margin:10px">
      <div class="card-body" >
        <h5 class="card-title"><%= link_to "#{e.title}", event_path(e.id) %></h5>
        <p class="card-text"><%= "#{e.description}" %></p>
        <p style="font-style:italic">Prévu le <%= e.start_date%>. Durée <%= e.duration%> minutes.<br />Proposé par <%= link_to "#{e.admin.first_name}", user_path(e.admin.id) %></p>
        <%= link_to "Voir l'event", event_path(e.id), class:"btn btn-primary" %>
      </div>
    </div>

<%end%>