

<div class="container">
<h2 class="text-center">Un événement à proposer ?</h2> <div class="text-center mb-5"><%= link_to "Créer un événement", new_event_path, class:"btn btn-primary" %></div>

<hr />

<h2 class="mt-5 mb-3">Tous les événements à venir</h2>
  <div class="row" style="margin:auto">
  <% @events.each_with_index do |e, index| %>

      <% i = index+1 %>

    <div class="card" style="width: 18rem;margin:10px">
      <div class="card-body" >
        <h5 class="card-title"><%= link_to "#{e.title}", event_path(e.id) %></h5>
        <h5><span class="badge badge-primary"><%= e.start_date.strftime("%d/%m/%Y") %></span> <span class="badge badge-primary"><%= e.start_date.strftime("%l:%M") %></span> <span class="badge badge-secondary"><%= e.duration%> min</span></h5>
        <p class="card-text"><%= "#{e.description}" %></p>
        <p style="font-style:italic">Proposé par <%= link_to "#{e.admin.first_name}", user_path(e.admin.id) %></p>
        <%= link_to "Voir l'événement", event_path(e.id), class:"btn btn-primary" %>
      </div>
    </div>


  <% end %>

</div>
</div>