<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
    
    <% if @event.errors.any? %>
  <div class="alert alert-danger" role="alert"><p>Nous n'avons pas réussi à créer l'event pour la (ou les) raison(s) suivante(s) :</p>
  <ul>
    <% @event.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul></div>
<% end %> <br />
<h4>J'organise un événement :</h4><br/>

<%= form_tag url_for(action: 'create'), method: "post", :class => 'form-group'  do %>

      <%= label_tag 'Titre de l\'événement' %>
      <%= text_field_tag 'title', nil, class:'form-control' %>
      <br /> 

      <%= label_tag 'Description' %>
      <%= text_area_tag 'description', nil, class:'form-control' %>
      <br /> 

      <%= label_tag 'Date de l\'événement' %>
      <%= datetime_field_tag 'start_date', nil, class:'form-control' %>
      <br />

      <%= label_tag 'Durée (minutes)' %>
      <%= number_field_tag 'duration', nil, class:'form-control' %>
      <br />

      <%= label_tag 'Prix (€)' %>
      <%= number_field_tag 'price', nil, class:'form-control' %>
      <br />

      <%= label_tag 'Lieu / Ville' %>
      <%= text_area_tag 'location', nil, class:'form-control' %>
      <br />


      <%= submit_tag "Créer l'événement", class:"btn btn-primary" %>

    <% end %>

    </div>
    </div>
    </div>