<section class="team-section text-center my-5">

  <!-- Section heading -->
  <div class="col-8 offset-2">
  <h2 class="h1-responsive font-weight-bold my-3"><%=@event.title%></h2>
  <h5><span class="badge badge-primary"><%= @event.start_date.strftime("%d/%m/%Y") %></span> <span class="badge badge-primary"><%= @event.start_date.strftime("%l:%M") %></span> <span class="badge badge-secondary"><%= @event.duration%> min</span> <span class="badge badge-info"><%=@event.price%> €</span></h5><p class="mb-5">Proposé par : <strong><%= link_to "#{@event.admin.first_name}", user_path(@event.admin.id) %></strong><hr /></p>
  
  <p><strong><i><%=@event.description%></i></strong></p>
</div>
  </section>