<section class="team-section text-center my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5"><%=@event.title%></h2>




<div style="border:1px solid grey;padding:20px;">
  <p>Titre de l'event : <strong><%=@event.title%></strong></p>
  <p>Contenu : <strong><i><%=@event.description%></i></strong></p>
  <p>Admin : <strong><%= link_to "#{@event.admin.first_name}", user_path(@event.admin.id) %></strong></p>
  <p>Start Date : <strong><%=@event.start_date%></strong></p>
  <p>Duration : <strong><%=@event.duration%></strong> minutes</p>
  <p>Price : <strong><%=@event.price%></strong> €</p>
</div>
  </section>