<!DOCTYPE html>
<html>
  <head>
    <title>EventbriteRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--BOOTSTRAP CSS-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= link_to "Eventbrite-rails", root_path, class:"navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "Tous les événements", root_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Créer [+]", new_event_path, class:"nav-link" %>
          </li>

          <% if !user_signed_in? %>
          <!-- DROPDOWN NOT LOGIN -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          S'inscrire/Se connecter
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "S'inscrire", new_user_registration_path,class:"dropdown-item" %>
              <%= link_to "Se connecter", new_user_session_path,class:"dropdown-item" %>
          </li>
          <%end%>

          <!-- DROPDOWN LOGIN -->
          <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mon compte
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Profil", user_path(current_user),class:"dropdown-item" %>
              <%= link_to "Se déconnecter", destroy_user_session_path,method: :delete, class:"dropdown-item" %>
          </li>
          <%end%>
       
        </ul>
      </div>
    </nav>
<div class="mt-5 mb-5">    
    <%unless notice.nil?%>
    <p class="notice alert-info text-center col-8 offset-2"><%= notice %></p>
    <%end%>
    <%unless alert.nil?%>
    <p class="alert alert-warning text-center col-8 offset-2"><%= alert %></p>
    <%end%>
</div>
    
    
    <%= yield %>

    <!--BOOTSTRAP JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
